.wrapper {
    padding-left: 18%;
    padding-right: 18%;
}

app-hotels-filter {
    width: 80%;
    margin-right: 5px;
}

.card {
    margin: 2%;
}

img {
    min-height: 250px;
    min-width: 250px;
}

.cards {
    width: 100%;
}

button {
    background-color: #B814D8;
    color: white;
    margin-left: 40%;
}

mat-paginator {
    margin-top: 2%;
    margin-right: 34%;
}