<div class="wrapper">
    <app-hotels-filter></app-hotels-filter>
    <div class="cards">
        <mat-card class="card" *ngFor="let hotel of hotels">
            <mat-grid-list cols="5" rowHeight="60px">
                <mat-grid-tile colspan=3 rowspan=1>
                    <mat-card-title>{{ hotel.name }}</mat-card-title>
                </mat-grid-tile>
                <mat-grid-tile colspan=2 rowspan=3>
                    <img mat-card-xl-image>
                </mat-grid-tile>
                <mat-grid-tile colspan=3 rowspan=1>
                    <mat-card-subtitle>{{ hotel.country }} - {{ hotel.city }}</mat-card-subtitle>
                </mat-grid-tile>
                <mat-grid-tile colspan=3 rowspan=1>
                    <mat-card-actions>
                        <button [routerLink]="['/hotels', hotel.id]" mat-flat-button> Look </button>
                    </mat-card-actions>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </div>
</div>

<mat-paginator
    [length]="hotelCount"
    [pageSizeOptions]="[1, 2, 5]"
    [pageSize]="pageParameters.pageSize"
    [pageIndex]="pageParameters.pageIndex"
    (page)="onPaginateChange($event)"
>
</mat-paginator>