<h1>Add new admin</h1>
<form mat-dialog-content [formGroup]="createAdminForm">
    <p>Enter <b>new admin</b> email</p>
    <mat-form-field class="input-field" apperance="fill">
        <mat-label>email</mat-label>
        <input 
            matInput
            formControlName="email"
            type="email"
            placeholder="new_admin@gmail.com"
        >
        <mat-error>
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
    <p>Enter <b>new admin</b> password</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>password</mat-label>
        <input 
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
        >
        <button 
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
        >
            <mat-icon>
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error>
            Password is required to have at least {{ passwordMinLength }} symbols
        </mat-error>
    </mat-form-field>
    <p>Confirm <b>new admin</b> password</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>password</mat-label>
        <input
            matInput 
            formControlName="confirmPassword"
            [type]="hidePassword ? 'password' : 'text'"
            [errorStateMatcher]="passwordsStateMatcher"
        >
        <button 
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
        >
            <mat-icon>
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error>
            Passwords are not the same
        </mat-error>
    </mat-form-field>
    <button mat-button (click)="closeCreateAdminDialog()">Back</button>
    <button
        mat-button 
        [disabled]="createAdminForm.invalid"
        (click)="createAdmin(email?.value, password?.value)"
    >
        Add new admin
    </button>
    <mat-error>
        {{ serverErrorResponse }}
    </mat-error>
</form>