<h1>Add new admin</h1>
<form mat-dialog-content [formGroup]="registrationForm">
    <p>Enter <b>new admin</b> email</p>
    <mat-form-field class="input-field" apperance="fill">
        <mat-label>email</mat-label>
        <input 
            matInput
            formControlName="email"
            type="email"
            placeholder="new_admin@gmail.com"
        >
        <mat-error *ngIf="email?.invalid">
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
    <p>Enter <b>new admin</b> password</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>password</mat-label>
        <input 
            matInput
            formControlName="password"
            type="text"
        >
        <mat-error *ngIf="password?.invalid">
            Password is required
        </mat-error>
    </mat-form-field>
    <button mat-button (click)="closeRegistrationDialog()">Back</button>
    <button
        mat-button 
        [disabled]="registrationForm.invalid"
        (click)="createAdmin(email?.value, password?.value)"
    >
        Register
    </button>
    <mat-error *ngIf="serverErrorResponse">
        {{ serverErrorResponse }}
    </mat-error>
</form>