.topnav {
    overflow: hidden;
    background-color: aliceblue;
}

a {
    float: left;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: rgb(3, 83, 83);
    color: white;
}

.example-form-field {
    margin-left: 20px;
}