<mat-card [formGroup]="facilitiesForm">
    <mat-card-title>Facilities</mat-card-title>
    <ng-container formArrayName="facilities">
        <ng-container *ngFor="let facilityForm of facilities.controls; let i=index">    
            <div [formGroupName]="i">
                <mat-form-field>
                    <mat-label>Facility name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error>Facility name is required</mat-error>
                </mat-form-field>
                _
                <mat-form-field>
                    <mat-select
                        matInput
                        formControlName="realm"
                        [disabled]="facilityExistsInDatabase(facilityForm.value)"
                    >
                        <mat-option *ngFor="let realm of realmOptions" [value]="realm">
                            {{ realm }}
                        </mat-option>
                    </mat-select>
                    <mat-error>Realm is required</mat-error>
                </mat-form-field>

                <span *ngIf="facilityExistsInDatabase(facilityForm.value)">
                    <button 
                        mat-button
                        (click)="editFacility(facilityForm.value)"
                        [disabled]="facilityForm.invalid"
                    >
                        <mat-icon>save</mat-icon>save changes
                    </button>
                    <button mat-button (click)="deleteFacility(i, facilityForm.value)"> 
                        <mat-icon>delete</mat-icon>delete
                    </button>
                </span>
                <span *ngIf="!facilityExistsInDatabase(facilityForm.value)">
                    <button 
                        mat-button
                        (click)="addFacility(facilityForm.value)"
                        [disabled]="facilityForm.invalid"
                    >
                        <mat-icon>save</mat-icon>add facility
                    </button>
                    <button mat-button (click)="deleteEmptyFacilityCard(i)">
                        <mat-icon>delete</mat-icon>delete
                    </button>
                </span>
            </div>
        </ng-container>
        <mat-error *ngIf="serverErrorResponse">
            {{ serverErrorResponse }}
        </mat-error>
    </ng-container>
    <button mat-button (click)="addEmptyFacilityCard()">
        <mat-icon>add_circle_outline</mat-icon>add new facility
    </button>
</mat-card>
