<form mat-dialog-content [formGroup]="registerForm">
    <p>Enter email</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>email</mat-label>
        <input
            matInput
            formControlName="email"
            type="email"
            placeholder="user@gmail.com"
        >
        <mat-error>
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
    <p>Enter password</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>password</mat-label>
        <input
            matInput
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
        >
        <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
        >
            <mat-icon>
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error>
            Password is required to have at least {{ passwordMinLength }} symbols
        </mat-error>
    </mat-form-field>
    <p>Confirm password</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>password</mat-label>
        <input
            matInput
            formControlName="confirmPassword"
            [type]="hidePassword ? 'password' : 'text'"
            [errorStateMatcher]="passwordsStateMatcher"
        >
        <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
        >
            <mat-icon>
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error>
            Passwords are not the same
        </mat-error>
    </mat-form-field>
    <button mat-button (click)="returnBack()">Back</button>
    <button
        mat-button
        [disabled]="registerForm.invalid"
        (click)="register(email?.value, password?.value)"
    >
        Register
    </button>
</form>