table {
    width: 100%;
}

img {
    width: 180px;
    height: 100px;
}

.img__wrap {
    position: relative;
    width: 180px;
    height: 100px;
}

.img__description {
    position: absolute;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    inset: 0;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    font-size: 26px;
    margin: 0;
    text-align: center;
    line-height: 100px;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

mat-form-field {
    width: 26%;
}

button {
    margin-left: 2%;
}

.sleeps {
    width: 10%;
}

.calendar {
    width: 30%;
}