<p> Rooms available from {{ checkInDate }} to {{ checkOutDate }}</p>
<table mat-table [dataSource]="rooms">
    <tr *matHeaderRowDef="tableColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: tableColumns" mat-row></tr>
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let room">
            <div class="img__wrap">
                <img 
                    *ngIf="room.mainImageId"
                    class="img__img" 
                    [src]="createImagePath(room)"
                />
                <p class="img__description" (click)="showImagesDialog(room)">
                    Click to see other images
                </p>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Room type</th>
        <td mat-cell *matCellDef="let room">{{ room.name }}</td>
    </ng-container>

    <ng-container matColumnDef="sleeps">
        <th mat-header-cell *matHeaderCellDef>Sleeps</th>
        <td mat-cell *matCellDef="let room">{{ room.sleeps }}</td>
    </ng-container>

    <ng-container matColumnDef="facilities">
        <th mat-header-cell *matHeaderCellDef>Additional facilities</th>
        <td mat-cell *matCellDef="let room">
            <mat-checkbox
                *ngFor="let facility of room.facilities"
                class="facilities"
                (change)="changeFacilityStatus($event, room, facility)"
            >
                {{ facility.name }} 
                <span *ngIf="facility.price">- US${{facility.price}}</span>
                <span *ngIf="!facility.price">- free</span>
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Room price</th>
        <td mat-cell *matCellDef="let room">US${{ room.price }}</td>
    </ng-container>

    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Number of rooms left</th>
        <td mat-cell *matCellDef="let room">{{ room.number }}</td>
    </ng-container>

    <ng-container matColumnDef="reserve">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let room">
            <button
                *ngIf="isClient"
                mat-button
                (click)="showReserveDialog(room)"
            >
                Reserve
            </button>
        </td>
    </ng-container>
</table>
