<mat-card-title>{{ order.room.name }}</mat-card-title>
<p>Room price: US${{ order.room.price }}</p>
<p>Selected facilities:</p>
<div *ngFor="let facility of order.room.facilities">
    <p *ngIf="facility.checked">
        {{ facility.name }} 
        <span *ngIf="facility.price">- US${{ facility.price }}</span>
        <span *ngIf="!facility.price">- free</span>
    </p>
</div>
<p>Sleeps: {{ order.room.sleeps }}</p>
<mat-card-title *ngIf="order.price">
    Total price US${{ order.price }}
</mat-card-title>
<button mat-button (click)="reserveRoom()">Confirm order</button>
