<div [formGroup]="facilitiesForm">
    <ng-container formArrayName="facilities">
        <ng-container *ngFor="let facilityForm of facilities.controls; let i=index"> 
            <div class="facility" [formGroupName]="i"> 
                <mat-checkbox 
                    formControlName="checked" 
                    (change)="changeFacilityStatus($event, facilityForm.value)"
                >
                    {{ facilityForm.value.name }}
                </mat-checkbox>
                <mat-form-field *ngIf="roomId">
                    <mat-label>Price</mat-label>
                    <input 
                        matInput
                        formControlName="price"
                        type="number"
                    >
                </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
    <div *ngIf="roomId">
        To change facility price<br>
        -> remove check mark<br>
        -> edit price<br>
        -> add check mark
    </div>
</div>