<div [formGroup]="facilitiesForm">
    <ng-container formArrayName="facilities">
        <ng-container *ngFor="let facilityForm of facilities.controls; let i = index"> 
            <div class="facility" [formGroupName]="i"> 
                <mat-checkbox 
                    class="name"
                    formControlName="checked"
                >
                    {{ facilityForm.value.name }} (id{{ facilityForm.value.id }})
                </mat-checkbox>
                <mat-form-field>
                    <span matPrefix>US$</span>
                    <input 
                        matInput
                        formControlName="price"
                        type="number"
                    >
                </mat-form-field>
            </div>
        </ng-container>
        <button mat-button (click)="changeFacilitiesStatus()">
            <mat-icon>save</mat-icon>save changes
        </button>
    </ng-container>
</div>
