<div [formGroup]="facilitiesForm">
    <ng-container formArrayName="facilities">
        <ng-container *ngFor="let facilityForm of facilities.controls; let i = index">
            <div class="facility" [formGroupName]="i">
                <mat-checkbox class="name" formControlName="checked">
                    {{ facilityForm.value.name }} (id{{ facilityForm.value.id }})
                </mat-checkbox>
                <mat-form-field>
                    <span matPrefix>US$</span>
                    <input
                        matInput
                        formControlName="price"
                        type="number"
                        min="0"
                    >
                    <mat-error>Price is required</mat-error>
                </mat-form-field>
            </div>
        </ng-container>
        <button
            mat-raised-button
            (click)="fetchAvilableFacilities()"
            [disabled]="seeOtherClicked"
        >
            <mat-icon>add</mat-icon>see other facilities to add
        </button>
        <button
            mat-raised-button
            (click)="changeFacilitiesStatus()"
            [disabled]="facilitiesForm.invalid"
        >
            <mat-icon>save</mat-icon>save changes
        </button>
    </ng-container>
</div>
