<form [formGroup]="roomsForm">
    <ng-container formArrayName="rooms">
        <ng-container *ngFor="let roomForm of rooms.controls; let i=index">
            <div [formGroupName]="i">
                <mat-form-field >
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="sleeps">
                </mat-form-field>
                <button mat-button (click)="deleteRoom(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-container>
    </ng-container>
</form>

<button mat-button (click)="addRoom()">
    <mat-icon>add_circle_outline</mat-icon>
</button>