.wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 18%;
    padding-right: 18%;
}

app-hotels-filter {
    width: 24%;
    margin-right: 5px;
}

.card {
    margin: 2%;
}

.cards {
    width: 70%;
}

mat-radio-button {
    margin-top: 8%;
    margin-left: 5px;
}
