<form mat-dialog-content [formGroup]="changePasswordForm">
    <mat-card>
        <mat-card-title>Change password</mat-card-title>
        <mat-card-content>
            <p>Enter old password</p>
            <mat-form-field class="input-field">
                <mat-label>password</mat-label>
                <input
                    matInput
                    formControlName="oldPassword"
                    type="password"
                >
            </mat-form-field>
            <p>Enter new password</p>
            <mat-form-field class="input-field">
                <mat-label>new password</mat-label>
                <input
                    matInput
                    formControlName="newPassword"
                    [type]="hidePassword ? 'password' : 'text'"
                >
                <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                >
                    <mat-icon>
                        {{ hidePassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
                <mat-error>
                    Password is required to have at least {{ passwordMinLength }} symbols
                </mat-error>
            </mat-form-field>
            <p>Confirm new password</p>
            <mat-form-field class="input-field">
                <mat-label>confirm password</mat-label>
                <input
                    matInput
                    formControlName="confirmNewPassword"
                    [type]="hidePassword ? 'password' : 'text'"
                    [errorStateMatcher]="passwordsStateMatcher"
                >
                <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                >
                    <mat-icon>
                        {{ hidePassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
                <mat-error>
                    Passwords are not the same
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="serverErrorResponse">
                {{ serverErrorResponse }}
            </mat-error>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-button
                [disabled]="changePasswordForm.invalid"
                (click)="changePassword()"
            >
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</form>