mat-card {
    margin-left: 17%;
    margin-right: 17%;
    padding: 2%;
}

.input-field {
    margin-left: 15%;
    width: 70%;
}

mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}