<aside>
    <mat-form-field *ngIf="!isAdmin">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input 
            [formGroup]="filterForm" 
            [rangePicker]="picker" 
            [min]="today"
        >
            <input 
                matStartDate 
                readonly 
                formControlName="checkInDate" 
                placeholder="check in"
            >
            <input 
                matEndDate 
                readonly 
                formControlName="checkOutDate" 
                placeholder="check out"
            >
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error>Select date to move in and move out to see which rooms are available</mat-error>
    </mat-form-field> 

    <mat-form-field [formGroup]="filterForm">
        <mat-label>Hotel name</mat-label>
        <input
            matInput
            type="text"
            formControlName="name"
            [matAutocomplete]="nameAutocomplete"
        >
        <mat-autocomplete #nameAutocomplete ="matAutocomplete">
            <mat-option 
                *ngFor="let name of names" 
                [value]="name"
            >
                {{ name }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <p></p>
    <button
        mat-stroked-button
        [disabled]="filterForm.invalid"
        (click)="updateFilterParameters()"
    >
        Find hotels
    </button>
</aside>
