<div class="wrapper">
    <div class="image-card" *ngFor="let image of images">
        <mat-grid-list cols="6" rowHeight="40px">
            <mat-grid-tile colspan=6 rowspan=4>
                <img [src]="createImagePath(image)"/>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="1">
                <button
                    mat-button
                    type="button"
                    (click)="deleteImage(image)"
                >
                    Remove
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="1">
                <button
                    mat-button
                    type="button"
                    (click)="changeMainImage(image)"
                >
                    Make main
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<mat-paginator
    [length]="imageCount"
    [pageSizeOptions]="[5, 10]"
    [pageSize]="pageParameters.pageSize"
    [pageIndex]="pageParameters.pageIndex"
    (page)="onPaginationChange($event)"
></mat-paginator>
<app-images-upload-button
    [hotelId]="hotel?.id"
    [roomId]="room?.id"
    (imageLoaded)="addImage($event)"
></app-images-upload-button>
