mat-card {
    margin-left: 17%;
    margin-right: 17%;
    padding: 2%;
}

button {
    position: absolute;
    top: 9%;
    left: 80%;
}

mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}