<mat-progress-spinner *ngIf="loading | async" [mode]="'indeterminate'"></mat-progress-spinner>
<mat-card *ngIf="(loading | async) === false">
    <button 
        *ngIf="isAdmin" 
        mat-raised-button 
        [routerLink]="['/hotels', hotelId, 'edit']"
    >
        Edit hotel
    </button>
    <mat-card-content>
        <div>
            <mat-card-title>
                {{hotel.name}}
            </mat-card-title>
        </div>
        <div>
            <mat-card-subtitle>
                {{hotel.country}} {{hotel.city}} {{hotel.address}}
            </mat-card-subtitle>
        </div>
        <div>
            <app-images></app-images>
        </div>
        <div>
            {{hotel.description}}
        </div>
    </mat-card-content>
</mat-card>