<mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
<mat-card *ngIf="isHotelLoaded">
    <mat-card-title>
        {{ hotel.name }}
    </mat-card-title>
    <mat-card-subtitle>
        {{ hotel.country }} {{ hotel.city }} {{ hotel.address }}
    </mat-card-subtitle>
    <app-images [hotelId]="hotelId"></app-images><br>
    <mat-card-content>
        <mat-chip-list>
            <mat-chip *ngFor="let facility of hotel.facilities">
                {{ facility.name }}
            </mat-chip>
          </mat-chip-list><br>
        {{ hotel.description }}
    </mat-card-content>
    <app-rooms [hotelId]="hotelId"></app-rooms>
    <mat-card-actions>
        <button 
            *ngIf="isAdmin" 
            mat-raised-button 
            [routerLink]="['/hotels', hotelId, 'edit']"
        >
            Edit hotel
        </button>
    </mat-card-actions>
</mat-card>